* {
    box-sizing: border-box;
}

body {
    background-color: #ccc;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgb(45, 44, 104);
    max-width: 600px;
    padding: 20px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:hover {
    background-color: #ccc;
}
